.search-drawer__row {
    padding: var(--space-xl);
}

.search-drawer__row:first-child {
    background-image: url('../../assets/images/heroimagemd.png');
    background-size: cover;
    border-top-left-radius: 48px;
    border-top-right-radius: 48px;
}

.search-drawer__logo {
    display: block;
    width: 310px;
    height: auto;
}

.search-drawer__logo path {
    fill: var(--white-1);
}

.search-drawer__logo + p {
    display: inline-block;
    font-weight: 500;
    font-size: var(--text-lg);
    color: var(--white-1);
    margin-top: var(--space-sm);
    margin-bottom: var(--space-md);
    width: 400px;
}

/* SearchBoxList Container */
.search__searchboxlist {
    position: relative;
}

/* Search List */
.search__searchboxlist > .search__list {
    position: absolute;
    top: 75px;
    left: 0;
    padding: var(--space-sm);
    border-radius: 24px;
    background-color: var(--white-1);
    margin-top: var(--space-sm);
    width: 400px;
    z-index: 99;
}

.search__searchboxlist > .search__list > .list {
    padding: 0;
    padding-right: var(--space-sm);
    max-height: 220px;
    overflow-y: scroll;
}

.search__searchboxlist > .search__list > .list::-webkit-scrollbar {
    width: 5px;
}

.search__searchboxlist > .search__list > .list::-webkit-scrollbar-track {
    background: var(--white-2);
}

.search__searchboxlist > .search__list > .list::-webkit-scrollbar-thumb {
    background-color: var(--grey-1);
    border-radius: 24px;
}

/* SearchBox Static | Mobile View */
.search__static {
    font-size: var(--text-sm);
    font-weight: 500;
    padding: 8px 14px;
    background-color: var(--white-1);
    border-radius: 59px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search__static {
    color: var(--brown-1);
}

.search__static > .material-icons {
    font-size: 16px;
}

/* Search Modal Layout Styles */
.search__modal {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    outline: none;
}

.search__modal--overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--white-1);
    overflow: none;
    z-index: 9;
}

.search__modal-content {
    display: flex;
    flex-direction: column;
    padding: var(--space-xs) var(--space-sm);
}

.search__modal-content > .btn {
    align-self: flex-end;
    margin-bottom: var(--space-md);
    background: none;
}

.search__modal-content > .btn:hover {
    background-color: var(--bg-hover);
    transition: 0.3s;
}

.search__modal-content > .search__list {
    height: 100%;
}

.search__modal-content .list {
    max-height: 70vh;
    overflow-y: scroll;
}

/* Most Searched Breeds */

.search-drawer__row:last-child {
    padding-top: var(--space-md);
    background-color: var(--grey-2);
    border-bottom-left-radius: 48px;
    border-bottom-right-radius: 48px;
}

.search-drawer__most-searched {
    font-weight: 500;
    font-size: var(--text-md);
    color: var(--brown-1);
    margin-bottom: var(--space-md);
    padding-bottom: 8px;
    position: relative;
}

.search-drawer__most-searched::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 60px;
    border-bottom: 4px solid var(--brown-3);
    border-radius: 77px;
}

.search-drawer__discover-container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 45px;
}

.search-drawer__discover {
    font-weight: 700;
    font-size: var(--text-xxxl);
    color: var(--brown-1);
    width: 500px;
}

@media (max-width: 1345px) {
    .search-drawer__discover-container {
        display: block;
    }

    .search-drawer__discover {
        margin-bottom: var(--space-xs);
    }
}

@media (min-width: 992px) {
    .search-drawer__row:first-child {
        background-image: url('../../assets/images/heroimagelg.png');
    }
}

@media (max-width: 991.98px) {
    .search-drawer__row {
        padding: var(--space-lg);
    }

    .search-drawer__row:first-child {
        background-image: url('../../assets/images/heroimagemd.png');
    }
}

@media (max-width: 767.98px) {
    .search-drawer__row {
        padding: var(--space-md);
        padding-bottom: var(--space-lg);
    }

    .search-drawer__logo {
        width: 110px;
    }

    .search-drawer__logo + p {
        font-size: var(--text-xs);
        width: 130px;
    }

    .search-drawer__row:first-child {
        background-image: url('../../assets/images/heroimagesm.png');
        padding-bottom: 40px;
    }

    .search-drawer__most-searched {
        font-size: var(--text-sm);
    }

    .search-drawer__most-searched::after {
        width: 40px;
    }

    .search-drawer__discover-container {
        margin-bottom: 30px;
    }

    .search-drawer__discover {
        font-size: var(--text-md);
        width: 200px;
    }
}

@media (max-width: 374.98px) {
    .search-drawer__col {
        margin-top: var(--space-sm);
    }

    .search-drawer__row {
        padding: var(--space-sm);
    }

    .search-drawer__row:first-child {
        border-top-left-radius: var(--space-md);
        border-top-right-radius: var(--space-md);
        padding-bottom: var(--space-md);
    }

    .search-drawer__row:last-child {
        border-bottom-left-radius: var(--space-md);
        border-bottom-right-radius: var(--space-md);
        padding-top: 18px;
        padding-bottom: var(--space-md);
    }

    .search-drawer__catbreeds-preview-container {
        display: flex;
        justify-content: center;
    }
}
