.App {
    margin: var(--space-md) var(--space-xl);
    margin-bottom: 0;
    min-height: 100vh;
}

.App__logo {
    margin-bottom: var(--space-md);
}

@media (max-width: 991.98px) {
    .App {
        margin: var(--space-md) var(--space-lg);
        margin-bottom: 0;
    }
}

@media (max-width: 767.98px) {
    .App {
        margin: 18px;
        margin-bottom: 0;
    }
}

@media (max-width: 374.98px) {
    .App {
        margin: var(--space-sm);
        margin-bottom: 0;
    }
}
